<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}CareerMate{% endblock %}</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/index/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/index/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/index/assets/css/main.css" rel="stylesheet">

</head>

<body class="index-page">
  {% include 'partials/messages.html' %}

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center">

      <a href="/student_home" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">CAREER MATE</h1><span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/student_home">Home</a></li>
          <li><a href="/view_profile#abc" class="active">VIEW PROFILE</a></li>
          <li><a href="/candidate_view_college#abc">VACANCY</a></li>
          <li><a href="/view_applied_list#abc">APPLIED LIST</a></li>
          <li><a href="/view_selected_list#abc">SELECTED LIST</a></li>
          <li><a href="/send_complaint#abc">SUGGESTIONS</a></li>
          <li><a href="/candidate_change_password#abc">CHANGE PASSWORD</a></li>
          <li><a href="/logout">LOGOUT</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">
    <section class="section light-background py-5">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
  </main>

  <footer id="footer" class="footer dark-background mt-5">
    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">CareerMate</strong> <span>All Rights Reserved</span></p>
    </div>
  </footer>

  <script src="/static/index/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/index/assets/js/main.js"></script>
</body>

</html>
