{% extends 'candidate/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
{#  <p><a href="#">View vacancy</a>#}
  </p>
     <p><a href="/view_college_student">VIEW COLLEGE</a></p>
  <p><a href="/view_applied_list_student">VIEW APPLIED LIST </a></p>
  <p><a href="/view_shortlisted_list_student">VIEW SHORTLISTED LIST</a></p>
 {#  <p><a href="/view_exam_date_student">View exam date</a></p> #}
  <p><a href="/view_selected_list_student">VIEW SELECTED LIST</a></p>

  <p><a href="/send_complaint_student">SEND COMPLAINT</a></p>
  <p><a href="/view_reply_student">VIEW REPLY</a></p>
  <p><a href="/change_password_student">CHANGE PASSWORD</a></p>

</form>
</body>
</html>
{% endblock %}